/* Name: Iryna Shostsik
   Current Date: 04/13/2017 
   Class.section: CGS1821.001
   Assignment: Project 4
   Language: СSS3
   Purpose: CSS code that provides styling for the "Good Interior Design Firm" scheduling page
*/


/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	max-width: 1200px;
    font-size: 100%;
    width: 90%;
    
    margin: 0 auto;
}
figure { 
	float: left;
	padding: 10px 0.83333% 0 0.83333%;
	margin: 0;
}

figure img { height: 300px; }
figcaption { 
	background-color: #696969;
	text-align: center;
	color: white;
    line-height: 40px;
    padding-left: 0.416666%;
    margin-bottom: 5%;
    font-size: 120%;
    font-weight: bold;
}
/* the image is centered within the link */
main a {
	display: block;
	width: 100%;
	text-align: center;
}
main a img { 
	width: 300px; 
    padding: 10px;
}
main a img:hover, a img:focus { 
	border: black solid 1px;
}

/* the styles for the header */
header h2 { 
	text-align: center; 
	padding-bottom: 20px;
	border-bottom: 1px solid #696969;
}
header img { 
	border-bottom: 5px solid #FFD700;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 7px;
	padding-top: 4px;
	transition: 3s;
}
header img:hover {
	transform: rotateY(360deg);
	transform-origin: center;
}
div { text-align: center; }

/* the styles for the nav_menu */
#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
#nav_menu ul li { 
	width: 20%;
	float: left; }
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	
}
#nav_menu ul ul li { float: none; }
#nav_menu ul li:hover > ul { display: block; }
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#nav_menu ul li a {
    display: block;
    line-height: 20px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: white;
    color: gray;
    font-size: 120%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        
}   
#nav_menu a.current {
	color: Black;
}
#nav_menu > ul::after {
	content: "";
    clear: both;
    display: block; 
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	color: black;
}

main p { 
	text-align: center;
	padding-top: 15px;
	font-size: 120%;
}
figure h2 { 
	text-align: center;
	font-weight: bold; 
}

/* the styles for the footer */
footer {
	width: 90%;
	font-family: Arial, Helvetica, sans-serif;
	color: #37515F;
	font-weight: bold;
	font-style:oblique;
	float: left;
	clear: left; 
	height: 30px;
	text-align: left;
	padding-top: 15px;
	font-size: 90%;
}
footer a {
	 color: #008B8B; 
}

/* hide the mobile menu initially */
#mobile_menu { display: none; }

 /*tablet portrait to standart */
@media only screen and (max-width: 800px) {
	body { font-size: 90%; }
}	
	/* mobile landscape to tablet portrait */
@media only screen and (max-width: 768px) {
#nav_menu { display: none; }
#mobile_menu { display: block; }
    body { font-size: 80%; }
     #img1 { width: 400px; }
    #img2 { width: 400px; }
    #img3 { width: 400px; }
    a { padding-top: 1%; }
}
/* mobile portrait to mobile landscape */
@media only screen and (max-width: 479px){
#nav_menu { display: none; }
#mobile_menu { display: block; }
    body { font-size: 75%; }
    #img1 { width: 100%; }
    #img2 { width: 100%; }
    #img3 { width: 100%; }
    a { padding-top: 1%; }
}


